.text {
    width: 100%;
	text-align: center;
}

.social-container {
    display: flex;
    flex-direction: row-reverse;
justify-content: flex-start;
    align-items: center;
	text-align: right;

    
}
