.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #000;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

a:hover {
    color: var(--bs-link-hover-color);
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #000;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

[role="button"] {
    cursor: pointer;
}

a {
    color: var(--bs-link-color);
    text-decoration: underline;
}

*,
::after,
::before {
    box-sizing: border-box;}